<div class="container">
  <h1>sasdaasd</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores autem dolore eius enim impedit officiis ut voluptate. Amet animi autem dolorum esse magnam nostrum officiis praesentium, quas suscipit veritatis.</p>









  <div class="adrian" data-aos="fade-up">
    <img src="https://cdn.mos.cms.futurecdn.net/uuFwFxyidsfzUizAsFRWq8.jpg" alt="">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos eum excepturi numquam rem suscipit. Accusantium alias dolor dolores est facilis ipsa maiores minus necessitatibus, nostrum, officia temporibus veniam voluptatum!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam explicabo facilis ipsa. Asperiores delectus dolorem doloremque est et eveniet, fuga ipsum obcaecati omnis quidem sequi tempore vero voluptatum! Iste, voluptatem.</p>
  <div class="yo" data-aos="fade-down">
    <img src="https://media.gq-magazine.co.uk/photos/5d139abf976fa37ca5f39ec1/16:9/w_2560%2Cc_limit/Ironclad-GQ-1Sep17_rex_b.jpg" alt="">
  </div>
</div>
